/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul { list-style: none; }
blockquote, q { 
	background:url('../images/quotes.png') 12px top no-repeat ;
	quotes: '»' '«' ;
	margin-left:30px;
    padding-left:35px;
    border-left: 1px solid #E5E4DB;
	color: #726B68; 
	margin-bottom: 1em;
	}
	
.pull_left, .pull_right { 
	background:url('../images/quotes_lg.png') 12px 12px no-repeat ;
	margin: 25px 65px 25px 30px;
	padding: 15px 0 15px 35px;
	color: #494442;
	font-family: Georgia, "Times New Roman", Times, serif; 
	font-style: oblique; 
	font-size: 220%; 
	display: block;
	line-height: 38px;
	text-align: center;
	border-top: 1px solid #E5E4DB;
	border-bottom: 1px solid #E5E4DB;
	}
	
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { color: #797675; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 18px; font-size: 13px; } 
select, input, textarea, button { font: 99% sans-serif; }
button.disabled { opacity: 0.3; filter: alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
p { margin-bottom: 1.3em;}

html { overflow-y: scroll; }

iframe { display: block; margin: 10px 0; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #209090; }
a:hover { color: #0a7070; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th, b { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; line-height:1px;}
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit] { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.normalForm label { width: 120px; display: block; float: left; text-transform: uppercase; font-weight: bold;}
.normalForm input, .normalForm textarea { width: 300px;}
.normalForm { margin-top: 30px;}

::-moz-selection{ background: #CA5703; color:#fff; text-shadow: none; }
::selection { background:#CA5703; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #CA5703; } 

button, .buttonLink { width: auto; text-indent: -9999em; display: block; border: none; cursor: pointer; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both;}

#honoreeTool #containerWrapper { background: #f9f9f0 url('../images/border_bottom.png') left bottom no-repeat; width: 580px; padding-bottom: 3px; max-height: 600px;}
#honoreeTool #container { background: url('../images/border_top.png') top left no-repeat; }
#honoreeTool #mainFilter { font-family: Georgia, "Times New Roman", Times, serif; font-size: 110%; padding: 15px; background: url('../images/bg_filter.png') left bottom repeat-x;}
#honoreeTool #mainFilter #filterTitle { float: left; color: #4a4244; text-transform: uppercase; }
#honoreeTool #mainFilter li { float: left; margin-left: 20px;}

#honoreeTool .tip { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; text-transform: capitalize;}

#honoreeTitle { text-align: right; width: 205px; margin-right: 15px;}
#honoreeTool h3 { text-transform: uppercase; font-weight: normal; padding-bottom: 5px; float: left; color: #5e5d5a; }

#honoreeTool ol #titleList { border-bottom: 1px solid #b4b4b3; background-color: transparent; }
#honoreeTool ol { margin: 5px 10px 20px; list-style-type: none; border-top: 1px solid #b4b4b3; border-bottom: 1px solid #b4b4b3; }
#honoreeTool ol li { border-bottom: 1px dashed #f2f2f2; background-color: #fff; border-right: 1px solid #f0f2f2; border-left: 1px solid #f0f2f2;}
#honoreeTool ol li:hover, #honoreeTool ol li.active { background: #ecf3f4 url('../images/bg_gradient.png') bottom left repeat-x; }

#honoreeTool .expandColumn { width: 20px; padding: 0; float: left;}
#honoreeTool .amountColumn { float: left; width: 325px;}
#honoreeTool .lawmakerColumn { width: 165px; text-align: right; float: left; padding-right: 10px;}

#honoreeTool .honoreeName { display: block;}

#honoreeTool .dem { color: #13abae; }
#honoreeTool .rep { color: #cb262b; }

#honoreeTool .totalMoney { color: #7b9d3a; font-weight: bold; display: block;}
#honoreeTool .numberPayments { color: #9ea57f; font-size: 85%;}

#honoreeTool .expand { text-indent: -9999em; display: block; width: 10px; height: 10px; background: url('../images/btn_expand.png') top left no-repeat; margin: 10px;}
#honoreeTool .active a.expand{ background: url('../images/btn_expand.png') bottom left no-repeat;}

#honoreeTool .odd { background-color: #fff; border: 1px solid #E8E8E8;}

#honoreeTool .radio, #honoreeTool .checkbox { margin-right: 10px; margin-top: 2px; display: block; float: left;}
#honoreeTool #filterBtn { text-align: right; display: block;}

#honoreeTool .tagValue { background: url('../images/bg_bar.jpg') left top repeat-x; float: left; display: block; height: 35px; margin-right: 5px; text-indent: -9999em; border: 1px solid #98c43e; max-width: 235px;}
#honoreeTool .moneyMetaData { float: left; line-height: 14px; margin-top: 4px; }

#honoreeTool .honoreeMetaData { color: #9c9a98; font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 90%;}

#honoreeTool .buttonLink { text-indent: -9999em; display: block; cursor: pointer;}
#honoreeTool #csvDownload { background: url('../images/btn_download.png') left top no-repeat; width: 99px; height: 21px; float: right; margin-top: 15px; margin-right: 10px;}
#honoreeTool #csvDownload:hover { background: url('../images/btn_download.png') left bottom no-repeat; }

#honoreeTool .dropdownTable { background-color: #f3f7f8; font-size: 95%; border-top: 1px solid #e2e9ea; min-height: 50px; display: none; }
#honoreeTool table { margin: 15px 25px; width: 500px;}
#honoreeTool th { text-align: left; padding: 0 0 3px 5px; border-bottom: 1px solid #b4b4b3; font-weight: normal;}
#honoreeTool td { padding: 5px; color: #918f8e;}

#honoreeTool .mainAmountTable { overflow: auto; height: 472px; display: none; }

.loading { background: url('/media/images/loading.gif') no-repeat center center };

.filterDropdown span { color: #4A4244; margin-bottom: 8px; display: block; font-style: oblique;}
.filterDropdown { position: absolute; background: #f7f7ef url('../images/bg_filter.png') left bottom repeat-x; border-bottom: 2px solid #92928d; border-top: 1px solid #babab4; font-size: 95%; padding: 5px 15px 10px; width: 550px; margin-top: 15px; left: 0; display: none; }
#honoreeTool #honoreeFilter li, #honoreeTool #registrantFilter li { margin-left: 0px;}
.filterDropdown label { display: block; margin-bottom: 5px; }
#typeFilter label { width: 170px;  }
#typeFilter { width: 340px;}

.nameFilter { margin-bottom: 3px;}
.labelOne { color: #4A4244; }

input { -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #eaeae7; padding: 3px;}

#registrantFilter label { display: inline; margin-right: 10px;}
.btnFilter { background: url('../images/btn_filter.png') top left no-repeat; width: 57px; height: 21px;}
.btnFilter:hover { background: url('../images/btn_filter.png') bottom left no-repeat; }

#honoreeFilter .btnFilter { margin-top: 15px;}
#registrantFilter .btnFilter { margin-top: 1px;}