<table>
    <thead>
        <tr id="titles">
            <th>Donor</th>
            <th>Payee</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd">
            <td>Donor Name</td>
            <td>Payee Name</td>
            <td>$3,000,000</td>
            <td>2/12/08</td>
        </tr>
        <tr class="even">
            <td>Donor Name</td>
            <td>Payee Name</td>
            <td>$3,000,000</td>
            <td>2/12/08</td>
        </tr>
        <tr class="odd">
            <td>Donor Name</td>
            <td>Payee Name</td>
            <td>$3,000,000</td>
            <td>2/12/08</td>
        </tr>
    </tbody>
</table>    