<table>
    <thead>
        <tr id="titles">
            <th>Donor</th>
            <th>Payee</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < data.length; i++) { %>
        <tr class="<%=(i % 2 == 0 ? 'odd' : 'even')%>">
            <td><%=data[i].registrant%></td>
            <td><%=data[i].payee%></td>
            <td>$<%=formatDollars(data[i].amount)%></td>
            <td><%=data[i].date%></td>
        </tr>
        <% } %>
    </tbody>
</table>    