<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>        <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>        <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>        <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">

    <title>Honorarium Visualization</title>
    <link rel="stylesheet" href="media/css/honoree.css" type="text/css" media="screen" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="honorees.js"></script>
</head>
<body id="honoreeTool">
    <div id="containerWrapper">
        <div id="container">
            <div id="mainFilter">
                <span id="filterTitle">View Donations by</span>
                <ul>
                    <li>
                        <label><input class="radio view-by" type="radio" name="view-by" value='honoree' />Honoree</label>
                    </li>
                    <li>
                        <label><input class="radio view-by" type="radio" name="view-by" value='registrant' />Lobbying Entity</label>
                    </li>
                </ul>
                <a id="filterBtn" href="#">Filter</a>
                <div class="clear"></div>
                <div class="filterDropdown" id="honoreeFilter">
                    <span>Narrow down your results by:</span>
                    <ul>
                        <li>
                            <label class="labelOne">Type</label>
                            <ul id="typeFilter">
                                <li><label><input class="checkbox" type="checkbox" name="all" />All</label></li>
                                <li><label><input class="checkbox" type="checkbox" name="congress" />Member of Congress</label></li>
                            
                                <li><label><input class="checkbox" type="checkbox" name="executive" />Executive Branch</label></li>
                                <li><label><input class="checkbox" type="checkbox" name="legislative" />Legislative Branch</label></li>
                                <li><label><input class="checkbox" type="checkbox" name="delegation" />Caucus/Delegations</label></li>
                                <li><label><input class="checkbox" type="checkbox" name="other" />Other</label></li>
                            </ul>
                        </li>
                        <li class="nameFilter">
                            <label class="labelOne">Name</label>
                            <input class="full" type="text" name="word" />
                        </li>
                        <li>
                            <label class="labelOne">State</label>
                            <select class="state" name="state">
					            <option value="">Select State</option>
							</select>
                        </li>
                        <li class="clear">
                            <button class="btnFilter" type="submit">
    					        <span>Filter</span>
    					    </button>
                        </li>
                    </ul>
                    <div class="clear"></div>    
                </div>
                <div class="filterDropdown" id="registrantFilter">
                    <span>Narrow down your results by:</span>
                    <ul>
                        <li class="nameFilter">
                            <label class="labelOne">Name</label>
                            <input class="full" type="text" name="word" />
                        </li>
                        <li>
                            <button class="btnFilter" type="submit">
    					        <span>Filter</span>
    					    </button>
                        </li>    
                    </ul>
                    <div class="clear"></div>    
                </div>
            </div>
            <a class="buttonLink" id="csvDownload" href="LD203-database-SunlightFoundation.csv">Download CSV</a>
            <div class="clear"></div>
            <div id="titleList">
                <h3 id="honoreeTitle">Honoree <span class="tip">(880 total)</span></h3>
                <h3>Amount</h3>
                <div class="clear"></div>
            </div>
            <ol class="mainAmountTable" id="honoree-table"></ol>
			<ol class="mainAmountTable" id="registrant-table"></ol>
        </div>
    </div>
</body>
</html>
