<li class="clear <% if (typeof(category) !== "undefined") {%>category-<%=category%> <% } %><% if (typeof(state) !== "undefined" && state) { %> state-<%=state%><% } %>" data-db-id="<%=id%>" data-db-type="<%=type%>">
    <div class="clickable">
        <a class="expand expandColumn" href="#">Expand</a>
        <div class="lawmakerColumn">
            <span class="honoreeName"><%=name%></span>
            <% if ((typeof(party) !== "undefined") && (typeof(state) !== "undefined") && (typeof(employer) !== "undefined")) { %>
            <div class="honoreeMetaData">
                <% if (party) { %><span class="<%=(party == 'D' ? 'dem' : 'rep')%>"><%=party%></span><span>&ndash;</span><% } %>
                <% if (state) { %><span><%=state%></span><% } %>
                <% if (employer) { %><span><%=employer%></span><% } %>
            </div>
            <% } %>
        </div>
        <div class="amountColumn">
            <span class="tagValue" style="width:<%=Math.round(235*(total_contributions/most))%>px;"><%=Math.round(100*(total_contributions/most))%>%</span>
            <div class="moneyMetaData">
                <span class="totalMoney">$<%=formatDollars(total_contributions)%></span>
                <span class="numberPayments">(<%=contribution_count + (contribution_count == 1 ? ' payment' : ' payments')%>)</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="dropdownTable"></div>
</li>
